
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 327.5rem;
}.home-page-93a {
  background-color: #6d8c54;
  padding: 44.9rem 98rem 31.4rem 57rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  filter: blur(0.2rem);
  background-position: center;
  background-image: url('REPLACE_IMAGE:d989aa39e0c0e801a83eb5fb7d1a35c03a582c6a');
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .auto-group-rvku-6N8 {
    flex-shrink: 0;
    margin-bottom: 12.8rem;
    width: 100%;
    height: 72.3rem;
    position: relative;

    .rectangle-66-yKS {
      width: 128.7rem;
      height: 55.7rem;
      box-sizing: border-box;
      border-radius: 4.5rem;
      position: absolute;
      left: 43.8rem;
      top: 16.6rem;
      border: solid 5rem rgba(0, 0, 0, 0.6999999881);
      background-color: rgba(251, 251, 251, 0.6999999881);
    }
    .button1 {
      height: 9.8rem;
      position: absolute;
      left: 54rem;
      top: 41.6rem;
      color: #000000;
      width: 104.7rem;
      font-weight: 400;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 8rem;
    }
  }
  .auto-group-4f24-Tdv {
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
    font-size: 6.5rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    background-color: #f7f05f;
    border-radius: 1.5rem;
    width: calc(100% - 112.4rem);
    line-height: 1.2175;
    font-weight: 700;
    text-decoration-line: underline;
    margin: 0rem 36.8rem 0rem 75.6rem;
    height: 17.4rem;
  }
}
