
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 434.2rem;
}.processing-page-final-6Ex {
  width: 100%;
  height: 264.3rem;
  position: relative;
  background-color: #263c28;

  .rectangle-71-28c {
    height: 239.9rem;
    position: absolute;
    left: 11.8rem;
    top: 12.2rem;
    background-color: #ffffff;
    width: 410.6rem;
  }
  .item-40-7Qx {
    height: 60.7rem;
    position: absolute;
    top: 69.4rem;
    font-size: 50rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 63.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 308rem;
  }
  .item--b5E {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.4rem;
    position: absolute;
    left: 372.2208rem;
    top: 89.3861rem;
    height: 15.6rem;
    font-size: 12.8rem;
    font-weight: 400;
  }
  .results-VAc {
    color: #000000;
    white-space: nowrap;
    height: 15.6rem;
    left: 193.4442rem;
    font-size: 12.8rem;
    line-height: 1.2125;
    font-weight: 400;
    text-decoration-line: underline;
    font-family: Inter, 'Source Sans Pro';
    width: 55.9rem;
    position: absolute;
    top: 18.7rem;
    text-align: center;
  }
  .probable-factors-mP2 {
    height: 7.8rem;
    left: 177.1434rem;
    top: 183.2737rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 63.9rem;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .rectangle-72-Foz {
    width: 69.237rem;
    height: 34.3397rem;
    position: absolute;
    left: 27.4183rem;
    top: 209.8966rem;
    background-color: #678551;
    border-radius: 1.5rem;
  }
  .rectangle-73-xiQ {
    left: 166.4683rem;
    top: 208.3533rem;
    background-color: #678551;
    border-radius: 1.5rem;
    width: 74.6515rem;
    height: 35.8831rem;
    position: absolute;
  }
  .rectangle-74-63v {
    left: 312.8913rem;
    top: 211.44rem;
    background-color: #678551;
    border-radius: 1.5rem;
    width: 76.9556rem;
    height: 34.7255rem;
    position: absolute;
  }
  .item-30-cnx {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 33.2rem;
    height: 19.4rem;
    position: absolute;
    top: 215.427rem;
    left: 36.7497rem;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .item-30-7ji {
    top: 212.5975rem;
    font-size: 16rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 33.2rem;
    height: 19.4rem;
    position: absolute;
    left: 183.1727rem;
    line-height: 1.2125;
    color: #ffffff;
  }
  .item-508-cgU {
    width: 46.3rem;
    position: absolute;
    left: 331.2085rem;
    white-space: nowrap;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 19.4rem;
    top: 211.44rem;
    font-size: 16rem;
    font-weight: 400;
  }
  .image-27-Wmr {
    top: 35.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 240.9rem;
    height: 136.9rem;
    position: absolute;
    left: 27.4rem;
  }
}
