
html {
	font-size:19.4%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 434.2rem;
}.processing-page-final-6Ex {
  width: 100%;
  height: 264.3rem;
  position: relative;
  background-color: #263c28;
}
.processing-page-final-6Ex .rectangle-71-28c {
  width: 410.6rem;
  height: 239.9rem;
  position: absolute;
  left: 11.8rem;
  top: 12.2rem;
  background-color: #ffffff;
}
.processing-page-final-6Ex .item-40-7Qx {
  width: 63.4rem;
  height: 60.7rem;
  position: absolute;
  left: 308rem;
  top: 69.4rem;
  font-size: 50rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .item--b5E {
  width: 10.4rem;
  height: 15.6rem;
  position: absolute;
  left: 372.2208rem;
  top: 89.3861rem;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .results-VAc {
  width: 55.9rem;
  height: 15.6rem;
  position: absolute;
  left: 193.4442rem;
  top: 18.7rem;
  text-align: center;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .probable-factors-mP2 {
  width: 63.9rem;
  height: 7.8rem;
  position: absolute;
  left: 177.1434rem;
  top: 183.2737rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .rectangle-72-Foz {
  width: 69.237rem;
  height: 34.3397rem;
  position: absolute;
  left: 27.4183rem;
  top: 209.8966rem;
  background-color: #678551;
  border-radius: 1.5rem;
}
.processing-page-final-6Ex .rectangle-73-xiQ {
  width: 74.6515rem;
  height: 35.8831rem;
  position: absolute;
  left: 166.4683rem;
  top: 208.3533rem;
  background-color: #678551;
  border-radius: 1.5rem;
}
.processing-page-final-6Ex .rectangle-74-63v {
  width: 76.9556rem;
  height: 34.7255rem;
  position: absolute;
  left: 312.8913rem;
  top: 211.44rem;
  background-color: #678551;
  border-radius: 1.5rem;
}
.processing-page-final-6Ex .item-30-cnx {
  width: 33.2rem;
  height: 19.4rem;
  position: absolute;
  left: 36.7497rem;
  top: 215.427rem;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .item-30-7ji {
  width: 33.2rem;
  height: 19.4rem;
  position: absolute;
  left: 183.1727rem;
  top: 212.5975rem;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .item-508-cgU {
  width: 46.3rem;
  height: 19.4rem;
  position: absolute;
  left: 331.2085rem;
  top: 211.44rem;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.processing-page-final-6Ex .image-27-Wmr {
  width: 240.9rem;
  height: 136.9rem;
  position: absolute;
  left: 27.4rem;
  top: 35.4rem;
  object-fit: cover;
  vertical-align: top;
}
